body {
    background-color: #fcf7f8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

h1 {
    color: lightblue;
    text-align: center;
    background-color: white;
    font-size: 60pt;
    margin-bottom: 0px;
    margin-top: 0px;

}

h2 {
    color: #292e70;
    font-size: 2em;
    text-align: center;

}

.headcontainer {
    background-color: white;
    height: 75px;

}

.headcontainer img {
    width: 150px;
    float: left;
    position: absolute;

}

nav {
    text-align: center;

}

a {
    text-decoration: none;
    margin: 20px;
    height: 30px;
    text-align: center;

}

a:visited {
    color: darkblue;
}

a:hover {
    background-color: #c6e5f3;
    opacity: 0.5;
    border-radius: 40px;

}

.button {
    float: right;
    text-decoration: none;
    border-radius: 25px;
    background-color: #292e70;
    color: #e0f7fa;
    border: none;
    height: 40px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    line-height: 40px;
}

.button:visited {
    color: #e0f7fa;
}

.button:hover {
    color:#292e70;
} 

.classes {
    text-align: center;

}

.classes > ul {
    list-style-type: none;

}

.staff {
    display: flex;
    background-color: #c6e5f3;
    height: 1200px;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.trainers {
    border: 5px solid white;
    height: 450px;
    width: 400px;
    padding: 20px;
    margin: 10px; 
    background-image: linear-gradient(#d4cfc9, #f8f9fa);

}

.staff h2 {
    border: none;
    width: 100%;
    text-align: center;

}

.staff img {
    width: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;

}

.staff p {
    text-align: center;

}

.staff strong {
    color: #292e70;
    font-size: 15pt;

}

.memberships {
    clear: both;
    display: flex;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("../images/headerbackground.jpg");
    background-size: cover;
    flex-wrap: wrap;

}

.memberships div {
    width: 300px;
    height: 200px;
    background-color: #d4cfc9;
    padding: 10px;
    text-align: center;
    border-radius: 40px;

}

span {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 20pt;

}

#memb {
    width: 100%;
    color: white;
    font-size: 50px;
    margin-bottom: 0px;
}

button {
    background-color: #c6e5f3;
    width: 90px;
    height: 40px;
    border-radius: 40px;
    border: none;
    text-align: center;
    color: #292e70;
}

.contactcontainer {
    display: flex;
    height: 300px;
    justify-content: space-evenly;

}

.contact {
    text-align: center;

}

.calendarcontainer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    width: 600px;
    text-align: center;
}

.weekday, .day {
    padding: 10px;
    border: 1px solid #292e70;
    background-color: white;
}

.day:hover {
    background-color: #e0f7fa;
    
}

.day:hover {
    background-color: #e0f7fa;
}

.weekday {
    background-color: lightblue;
}

.headcontainer button {
    float: right;
    margin-right: 5px;
}