.admin span{
    text-shadow: none;
}
    .admin title{
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }
    .admin body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }
     .admin header h1 {
        background-color: #333;
        color: #fff;
        font-size: xx-large;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        padding: 10px 20px;
        text-align: center;
    }
   .admin h2 {
    font-size: 14pt;
    text-align: left;
    font-family: Arial, sans-serif;
    color: black;

        margin: 0;
    }
    .admin .container {
        font-family: 'Times New Roman', Times, serif;
        font-size: 12;
        padding: 20px;
        text-shadow: none;
    }
    .admin .table-container {
        margin: 20px 0;
    }
    .admin table {
        width: 100%;
        border-collapse: collapse;
        margin: 10px 0;
        background-color: #fff;
    }
    .admin th, td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
    }
    .admin th {
        background-color: #333;
        color: white;
    }
    .admin .status {
        font-size: 14pt;
        text-shadow: none;
        font-weight: bold;
    }
    .membership-status {
        color: inherit; 
    }
    .repair-status {
        color: inherit; 
    }
    
    
    .admin .repair-status.open {
         color: orange;
    }

    .admin .repair-status.complete {
       color: green;
    }

    .admin .repair-status.closed {
        color: red;
     }
     .admin .repair-status.archive {
        color: purple;
     }

     .admin .membership-status.active {
        color: green;
     }

     .admin .membership-status.expired {
         color: red;
      }

      .admin .employee-status.active {
        color: green;
     }

     .admin .employee-status.expired {
         color: red;
      }

      .admin .repair-action-btn {
        background-color: #4CAF50;
        color: white;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
    }
