<!DOCTYPE html>
<html>
    <head>
        <title>Contact Page</title>
        <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="headcontainer">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" id="logo" alt="Gym Logo">
            <nav>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('contact') }}">Contact</a>
                <a href="{{ url_for('memberships') }}">Memberships</a>
                
                <a href="{{ url_for('signup_page') }}" class="button">Join Now</a>
                <a href="{{ url_for('login') }}" class="button">Sign In</a>
            </nav>
        </div>
        <br>
        <br>
        <br>
        <h2>If you have any questions or concerns, please contact us!</h2>
        <div class="contactcontainer">
            <div class="contact">
                <p><strong>Contact Details:</strong></p>
                <p>Phone number: 123-456-7890</p>
                <p>Email address: indianafitnesscenter@gmail.com</p>
                <p>Business Address: 123 Oakwood Ave, Indiana PA, 15701</p>
            </div>
            <div class="contact">
                <p><strong>Business Hours</strong></p>
                <p>Monday-Friday: 7:00am-9:00pm</p>
                <p>Saturday: 9:00am-6:00pm</p>
                <p>Sunday: 10:00am-5:00pm</p>
            </div>
        </div>
    </body>
</html>