<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="headcontainer">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" id="logo" alt="Gym Logo">
            <nav>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('contact') }}">Contact</a>
                <a href="{{ url_for('memberships') }}">Memberships</a>
                <a href="{{ url_for('admin_dashboard') }}">Admin</a>

                <a href="{{ url_for('signup_page') }}" class="button">Join Now</a>
                <a href="{{ url_for('login') }}" class="button">Sign In</a>
            </nav>
        </div>
        <div>
            <br>
            <br>
            <br>
            <h2>Welcome to Indiana Fitness Center - Your Fitness Journey Starts Here!</h2>
            <blockquote>At Indiana Fitness Center, we believe that fitness is for everyone. Whether you're a beginner 
                looking to build healthy habits or an experienced athlete pushing your limits, our 
                state-of-the-art facility, expert trainers, and supportive community are here to help
                you reach your goals. With top-of-the-line equipment, dynamic group classes, and 
                personalized training programs, we make working out fun, effective, and rewarding.
                <br>
                <br>
                Join us today and take the first step toward a healthier and stronger you!
            </blockquote>
        </div>
        <div class="classes">
            <h2>Offered Classes</h2>
            <ul>
                <li>Yoga</li>
                <li>Indoor Cycling</li>
                <li>Pilates</li>
                <li>Strength Training</li>
                <li>Kickboxing</li>
            </ul>
        </div>
        <div class="staff">
            <h2>Meet our Staff</h2>
            <div class="trainers">
                <img src="{{ url_for('static', filename='images/avastrong.jpg') }}" alt="Ava Strong">
                <p><strong>Ava Strong</strong>
                    <br>Ava has been with us for two years, leading our yoga and pilates group fitness classes 
                    with energy and expertise. She is also one of our personal trainers, and would be more
                    than happy to help you grow. She combines strength training with mindfulness, creating
                    a well-rounded exercise experience for you. Ava is just as commited to your fitness goals
                    as you are!
                </p>
            </div>
            <div class="trainers">
                <img src="{{ url_for('static', filename='images/taylorflexman.jpg') }}" alt="Taylor Flexman">
                <p><strong>Taylor Flexman</strong>
                    <br>Taylor is an established personal trainer who has been a valued part of Indiana Fitness
                    center for the past eight months. He has a strong foundation in strenght training and 
                    functional fitness. Taylor would love to help you establish, work towards, and crush any
                    personal fitness goals you have!
                </p>
            </div>
            <div class="trainers">
                <img src="{{ url_for('static', filename='images/maxsteele.jpg') }}" alt="Max Steele">
                <p><strong>Max Steele</strong>
                    <br>Max is one of our longest employees, who has been with us since we opened 7 years ago.
                    He offers awesome strength training and kickboxing classes, along with being one of our most
                    sought after personal trainers. If you aren't afraid of a little hard work, Max will help 
                    you reach your full potential and see the results you want!
                </p>
            </div>
            <div class="trainers">
                <img src="{{ url_for('static', filename='images/sierrapowers.jpg') }}" alt="Sierra Powers">
                <p><strong>Sierra Powers</strong>
                    <br>Sierra has been apart of Indiana Fitness Center for 4 years, where she dominates the
                    indoor cycling realm. Her fun, upbeat classes never fail to spark an interest in building
                    healthy habits while also pushing the limits. She also offers personal training sessions for 
                    anyone daring enough to take her dynamic and results-driven approach. 
                </p>
            </div>
        </div>
    </body>
</html>
