<!DOCTYPE html>
<html>
    <head>
        <title>Join Us</title>
        <link href="{{ url_for('static', filename='css/joinstyle.css') }}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <!--
        <div class="headcontainer">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" id="logo" alt="Gym Logo">
            <nav>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('contact') }}">Contact</a>
                <a href="{{ url_for('memberships') }}">Memberships</a>
                <a href="{{ url_for('calendar') }}">Calendar</a>
                
                <a href="{{ url_for('signup_page') }}" class="button">Join Now</a>
                <a href="{{ url_for('login') }}" class="button">Sign In</a>
            </nav>
        </div>
        -->
        <h2>Browse our plans and choose which fits you best!</h2>
        <div class="joincontainer">
            <div class="membership">
                <div class="header">
                    <h2>Monthly</h2>
                </div>
                <p><span class="price">$30</span> /mo</p>
                <p>Looking to try something new?</p>
                <p>This is for you!</p>
                <hr>
                <ul>
                    <li>$30 /mo</li>
                    <li>$360 /yr</li>
                    <li><strong>Short Term Commitment</strong></li>
                    <li>Group Fitness Classes</li>
                    <li>Personal Trainer Access</li>
                    <li>Unlimited Access to Gym Equipment</li>
                </ul>
                <hr>
                <a href="{{ url_for('monthly_membership') }}" class="button">Select</a>
            </div>
            <div class="membership">
                <div class="header">
                    <h2>Annual</h2>
                </div>
                <p><span class="price">$300</span> /yr</p>
                <p>Ready to commit to fitness?</p>
                <p>Check this out!</p>
                <hr>
                <ul>
                    <li>$25 /mo</li>
                    <li>$300 /yr</li>
                    <li><strong>Long Term Commitment</strong></li>
                    <li>Group Fitness Classes</li>
                    <li>Personal Trainer Access</li>
                    <li>Unlimited Access to Gym Equipment</li>
                </ul>
                <hr>
                <a href="{{ url_for('annual_membership') }}" class="button">Select</a>
            </div>
            <div class="membership">
                <div class="header">
                    <h2>Student</h2>
                </div>
                <p><span class="price">$20</span> /mo</p>
                <p>On a tighter budget?</p>
                <p>Sign up with your school email!</p>
                <hr>
                <ul>
                    <li>$20 /mo</li>
                    <li>$240 /yr</li>
                    <li><strong>Short Term Commitment</strong></li>
                    <li>Group Fitness Classes</li>
                    <li>Personal Trainer Access</li>
                    <li>Unlimited Access to Gym Equipment</li>
                </ul>
                <hr>
                <a href="{{ url_for('student_membership') }}" class="button">Select</a>
            </div>
        </div>
    </body>
</html>